/*font-family: "JetBrains Mono";*/
/*font-family: "Inter";*/

/* WIDGET */
/* ================================================================================================================== */

QWidget{
    font-family: "Inter";
    font-size: 15px;

    color: rgb(200,200,200);

    background-color: rgba(0,0,0,0);

    border-style: none;
}



/*
#widget_navigation{
    background-color: rgb(250,50,50);
}
*/
#widget_buttons{
    background-color: rgb(30,30,30);
}



/* FRAMES */
/* ================================================================================================================== */

QFrame{

}


#frame_TYPE{
    background-color: rgb(30, 30, 30);

    border-style: solid;
    border-right-width: 1px;
    border-color: rgb(15, 15, 15);

    margin: 0px;
    padding: 0px;
}
#frame_PROJET{
    background-color: rgb(30, 30, 30);

    border-style: solid;
    border-right-width: 1px;
    border-color: rgb(15, 15, 15);

    margin: 0px;
    padding: 0px;
}
#frame_FOLDER{
    background-color: rgb(30, 30, 30);

    border-style: solid;
    border-right-width: 1px;
    border-color: rgb(15, 15, 15);

    margin: 0px;
    padding: 0px;
}
#frame_SOFT{
    background-color: rgb(30, 30, 30);

    border-style: solid;
    border-right-width: 1px;
    border-color: rgb(15, 15, 15);

    margin: 0px;
    padding: 0px;
}





#frame_TYPE_status{
    background-color: rgb(50, 50, 50);

    border-style: solid;
    border-top-width: 1px;
    border-color: rgb(15, 15, 15);
}
#frame_PROJET_status{
    background-color: rgb(50, 50, 50);

    border-style: solid;
    border-top-width: 1px;
    border-color: rgb(15, 15, 15);
}
#frame_FOLDER_status{
    background-color: rgb(50, 50, 50);

    border-style: solid;
    border-top-width: 1px;
    border-color: rgb(15, 15, 15);
}
#frame_SOFT_status{
    background-color: rgba(0,0,0,50);

    border-style: solid;
    border-top-width: 1px;
    border-color: rgb(15, 15, 15);
}



/* TREEWIDGET */
/* ================================================================================================================== */

QTreeWidget{

}

QTreeWidget::item:unfselected {
    border-radius=5px;

    height: 28px;
    
    padding-left: 0px;
}
QTreeWidget::item:selected:active {
    background-color: rgb(6, 69, 136);

    border-radius:4px;
}
QTreeWidget::item:selected:!active {
    background-color: rgb(6, 69, 136);

    border-radius:4px;
}
QTreeView::item:hover {
    background-color: rgb(10, 10, 10);

    border-radius:4px;
}
QTreeView::branch {
    background-color: rgb(30,30,30);
}



/* LABELS : */
/* ================================================================================================================== */


#label_TYPE_liste{
    font-size: 15px;
    font-weight: 600;

    color: rgb(50, 50, 50);

    margin-bottom: 0px;
    margin-left: 17px;
}
#label_PROJET_liste{
    font-size: 15px;
    font-weight: 600;

    color: rgb(50, 50, 50);

    margin-bottom: 0px;
    margin-left: 17px;
}
#label_FOLDER_liste{
    font-size: 15px;
    font-weight: 600;

    color: rgb(50, 50, 50);

    margin-bottom: 0px;
    margin-left: 17px;
}
#label_SOFT_liste{
    font-size: 15px;
    font-weight: 600;

    color: rgb(50, 50, 50);

    margin-bottom: 0px;
    margin-left: 17px;
}


















QLabel{

}

QPushButton{

}

QLabel{

}







